body {
    font-family: "Arial", "Open-Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #141B4D;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header-menu {
    min-height: 100px;
    padding: 40px 0px;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
}

.menu-nav {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.menu-nav-item {
    background: transparent;
    cursor: pointer;
    color: white;
    border: 0;
    margin: 20px;
    font-size: 20px;
}

.banner-left h1{
    font-size: 80px;
}

.banner-left p{
    font-size: 30px;
}

.about-me h1{
    font-size: 80px;
}

.about-me p{
    font-size: 30px;
}

.contacts-msg {
    font-size: 80px;
    padding-bottom: 20px;
}

.msg-button input{
    background-color: white;
    border: 1px;
    color: #141B4D;
    font-weight: bold;
    padding: 20px;
    width: 25%;
    margin-top: 10px;
    font-size: 20px
}